---
interface Props {
  title: string;
  id?: string;
  addSpacing?: boolean;
  clickToRead?: string;
  seeMoreText?: string;
  seeMoreLink?: string;
}

const {title, id, addSpacing, clickToRead, seeMoreLink, seeMoreText} = Astro.props;

---
{addSpacing && <div class="spacing" />}

<section id={id}>
	<div class="flex">
    <h2 class="heading__h2">{title}</h2>
    {clickToRead &&
    <p>
    {clickToRead}
    </p>
    }
  </div>
  <!-- FOR CHILDREN -->
  <slot/>

  <div class="link__spacing"></div>
  <!-- IF SEEMORETEXT -->
  {seeMoreText &&
  <a href={seeMoreLink} class="link__more">
    {seeMoreText}
  </a>
  }
</section>
<style>
  section{
    scroll-margin-top: 18px;
  }

  div{
    padding-bottom: 2rem;
  }

  .flex{
    display: flex;
    align-items: center;
  }

  .flex > * {
    margin-right: 1rem;
  }

  .link__more{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #636363;
  }

  p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #636363;
  }
</style>
